
body {
  background-color: red;
  margin-left: 20px;
}

h1 {
  font-size: 40px;

}
div {
  margin-left: 10px;
  border: dashed darkcyan;
}
body ol {
  list-style: disc;
  margin-left: 40px;
  /* border: dashed darkcyan; */
  width: 50%;
}